@model List<NewsManagementSystem_Assigment01.Models.NewsArticle>

<h2>Your Created News List</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Created Date</th>
            <th>Last Modified</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var news in Model)
        {
            <tr>
                <td>@news.NewsArticleId</td>
                <td>@news.NewsTitle</td>
                <td>@news.CreatedDate?.ToString("dd/MM/yyyy")</td>
                <td>@news.ModifiedDate?.ToString("dd/MM/yyyy")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@news.NewsArticleId" class="btn btn-info">View</a>
                    <a asp-action="Edit" asp-route-id="@news.NewsArticleId" class="btn btn-warning">Edit</a>
                    <a asp-controller="News" asp-action="Delete" asp-route-id="@news.NewsArticleId" method="post" class="btn btn-danger">Delete</a>
                    @* <form asp-controller="News" asp-action="Delete" asp-route-id="@news.NewsArticleId" method="post"
                onsubmit="return confirm('Are you sure you want to delete?');">
                <button type="submit" class="btn btn-danger">Delete</button>
                </form> *@
                </td>
            </tr>
        }
    </tbody>
</table>
